<!--{template common/header}-->
  
<style id="diy_style" type="text/css"></style>
<link rel="stylesheet" type="text/css" href="$_G['style']['tpldir']/common/index.css">
<div class="wpall">
	<!--[diy=diy00]--><div id="diy00" class="area"></div><!--[/diy]-->
</div>
<div class="wp"> 

	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
	<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
	<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
	<!--[diy=diy5]--><div id="diy5" class="area"></div><!--[/diy]-->
	<!--[diy=diy6]--><div id="diy6" class="area"></div><!--[/diy]-->
	<!--[diy=diy7]--><div id="diy7" class="area"></div><!--[/diy]-->
	<!--[diy=diy8]--><div id="diy8" class="area"></div><!--[/diy]-->
	<!--[diy=diy9]--><div id="diy9" class="area"></div><!--[/diy]-->
	<!--[diy=diy10]--><div id="diy10" class="area"></div><!--[/diy]-->
	<!--[diy=diy11]--><div id="diy11" class="area"></div><!--[/diy]-->
	<!--[diy=diy12]--><div id="diy12" class="area"></div><!--[/diy]-->
	<!--[diy=diy13]--><div id="diy13" class="area"></div><!--[/diy]-->
	<!--[diy=diy14]--><div id="diy14" class="area"></div><!--[/diy]-->
</div>
<div class="wpall">
	<!--[diy=diy15]--><div id="diy15" class="area"></div><!--[/diy]-->
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->





