<!--{subtemplate common/header_common}-->

    <meta http-equiv="X-UA-Compatible" content="IE=6" />
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script language="javascript" type="text/javascript">
	<!-- 
	if (top.location != self.location) top.location=self.location;
	// -->
	</script>
	<script language="javascript" type="text/javascript">
	function killErrors() {
		return true;
		}
	window.onerror = killErrors;
	</script>


<!--[if IE 6]>
<script type="text/javascript" src="{$_G[style][styleimgdir]}/DD_belatedPNG_0.0.8a-min.js?{VERHASH}"></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');	
</script>
<![endif]--> 






	<meta name="application-name" content="$_G['setting']['bbname']" />
	<meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
	<!--{if $_G['setting']['portalstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{IMGDIR}/portal.ico" /><!--{/if}-->
	<meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
	<!--{if $_G['setting']['groupstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{IMGDIR}/group.ico" /><!--{/if}-->
	<!--{if helper_access::check_module('feed')}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{IMGDIR}/home.ico" /><!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
		<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
	<!--{/if}-->
	<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
	<!--{if widthauto()}-->
		<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
		<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
	<!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'portal'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
	<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
	<!--{/if}-->
	<script src="./template/xinglan_h12/image/jquery-1.2.6.min.js" type="text/javascript"></script>

	<script type="text/javascript">
	   var zhuanti = jQuery.noConflict();
	 
		 zhuanti(document).ready(function() {
			  
		 zhuanti('.syzttj li:first').addClass('active');
			 
		 zhuanti('.syzttj li').click(function(){
			 
		 zhuanti(this).addClass('active').siblings().removeClass('active');
		 });
		 
	  });

   </script>
   
   <script type="text/javascript">
	   var huiyuan = jQuery.noConflict();
	 
		 huiyuan(document).ready(function() {
			  
		 huiyuan('.ltsyhyph li:first').addClass('active');
			 
		 huiyuan('.ltsyhyph li').hover(function(){
			 
		 huiyuan(this).addClass('active').siblings().removeClass('active');
		 });
		 
	  });

   </script>
	
	
	<script type="text/javascript">
	var tpldir='$_G['style']['tpldir']';
	</script>
    <script type="text/javascript">
    	var jq=jQuery.noConflict();
    </script>
	
</head>

<body id="nv_{$_G[basescript]}" class="pg_{CURMODULE}{if $_G['basescript'] === 'portal' && CURMODULE === 'list' && !empty($cat)} {$cat['bodycss']}{/if}" onkeydown="if(event.keyCode==27) return false;">
	<div id="append_parent"></div><div id="ajaxwaitid"></div>
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<!--{template common/header_diy}-->
	<!--{/if}-->
	<!--{if check_diy_perm($topic)}-->
		<!--{template common/header_diynav}-->
	<!--{/if}-->
	<!--{if CURMODULE == 'topic' && $topic && empty($topic['useheader']) && check_diy_perm($topic)}-->
		$diynav
	<!--{/if}-->
	<!--{if empty($topic) || $topic['useheader']}-->
		<!--{if $_G['setting']['mobile']['allowmobile'] && (!$_G['setting']['cacheindexlife'] && !$_G['setting']['cachethreadon'] || $_G['uid']) && ($_GET['diy'] != 'yes' || !$_GET['inajax']) && ($_G['mobile'] != '' && $_G['cookie']['mobile'] == '' && $_GET['mobile'] != 'no')}-->
			<div class="xi1 bm bm_c">
			    {lang your_mobile_browser}<a href="{$_G['siteurl']}forum.php?mobile=yes">{lang go_to_mobile}</a> <span class="xg1">|</span> <a href="$_G['setting']['mobile']['nomobileurl']">{lang to_be_continue}</a>
			</div>
		<!--{/if}-->
		<!--{if $_G['setting']['shortcut'] && $_G['member'][credits] >= $_G['setting']['shortcut']}-->
			<div id="shortcut">
				<span><a href="javascript:;" id="shortcutcloseid" title="{lang close}">{lang close}</a></span>
				{lang shortcut_notice}
				<a href="javascript:;" id="shortcuttip">{lang shortcut_add}</a>

			</div>
			<script type="text/javascript">setTimeout(setShortcut, 2000);</script>
		<!--{/if}-->
        
        
        


		<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid']}-->
			<ul id="myprompt_menu" class="p_pop" style="display: none;">				
				<li><a href="home.php?mod=space&do=pm" id="pm_ntc" style="background-repeat: no-repeat; background-position: 0 50%;"><em class="prompt_news{if empty($_G[member][newpm])}_0{/if}"></em>{lang pm_center}</a></li>
				<li><a href="home.php?mod=follow&do=follower"><em class="prompt_follower{if empty($_G[member][newprompt_num][follower])}_0{/if}"></em><!--{lang notice_interactive_follower}-->{if $_G[member][newprompt_num][follower]}($_G[member][newprompt_num][follower]){/if}</a></li>
				<!--{if $_G[member][newprompt] && $_G[member][newprompt_num][follow]}-->
					<li><a href="home.php?mod=follow"><em class="prompt_concern"></em><!--{lang notice_interactive_follow}-->($_G[member][newprompt_num][follow])</a></li>
				<!--{/if}-->
				<!--{if $_G[member][newprompt]}-->
					<!--{loop $_G['member']['category_num'] $key $val}-->
						<li><a href="home.php?mod=space&do=notice&view=$key"><em class="notice_$key"></em><!--{echo lang('template', 'notice_'.$key)}-->(<span class="rq">$val</span>)</a></li>
					<!--{/loop}-->
				<!--{/if}-->
				<!--{if empty($_G['cookie']['ignore_notice'])}-->
					<li class="ignore_noticeli"><a href="javascript:;" onClick="setcookie('ignore_notice', 1);hideMenu('myprompt_menu')" title="{lang temporarily_to_remind}"><em class="ignore_notice"></em></a></li>
				<!--{/if}-->
			</ul>
			<!--{/if}-->
			<!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}-->
				<div id="sslct_menu" class="cl p_pop" style="display: none;">
					<!--{if !$_G[style][defaultextstyle]}--><span class="sslct_btn" onClick="extstyle('')" title="{lang default}"><i></i></span><!--{/if}-->
					<!--{loop $_G['style']['extstyle'] $extstyle}-->
						<span class="sslct_btn" onClick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></span>
					<!--{/loop}-->
				</div>
			<!--{/if}-->
			<!--{if $_G['uid']}-->
				<ul id="myitem_menu" class="p_pop" style="display: none;">
					<li><a href="forum.php?mod=guide&view=my">{lang mypost}</a></li>
					<li><a href="home.php?mod=space&do=favorite&view=me">{lang favorite}</a></li>
					<li><a href="home.php?mod=space&do=friend">{lang friends}</a></li>
					<!--{hook/global_myitem_extra}-->
				</ul>
			<!--{/if}-->
			<!--{subtemplate common/header_qmenu}-->
		<!--{/if}-->


		<!--{ad/headerbanner/wp a_h}-->
		<!--{hook/global_cpnav_top}-->

<div id="wp_toptb" class="cl">

  <div class="wp cl">
  
  <div class="z">

      <!--{eval $tpz=1}-->

      <!--{loop $_G['setting']['topnavs'][0] $nav}-->

      <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}--><!--{if $tpz!=1}--><span class="pipe">|</span><!--{/if}-->$nav[code]<!--{/if}-->

      <!--{eval $tpz++}-->

      <!--{/loop}-->

      <!--{hook/global_cpnav_extra1}-->

      <!--{loop $_G['setting']['topnavs'][1] $nav}-->

      <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}--><span class="pipe">|</span>$nav[code]<!--{/if}-->

      <!--{/loop}-->

      <!--{hook/global_cpnav_extra2}-->

    </div>
	
	
    <div class="y">

      <!--{if $_G['uid']}-->
	  
	  <a href="home.php?mod=space&uid=$_G[uid]" class="wi_ttbat"><!--{avatar($_G[uid],small)}--></a>

      <a href="home.php?mod=space&uid=$_G[uid]" class="top_gly" target="_blank" title="{lang visit_my_space}">{$_G[member][username]}</a>

      <!--{if $_G['group']['allowinvisible']}-->
      
      <span id="loginstatus">

        <a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" onClick="ajaxget(this.href, 'loginstatus');return false;"></a>

      </span>

      <!--{/if}-->
      

      <!--{hook/global_usernav_extra2}-->

      <!--{hook/global_usernav_extra3}-->



		<!--{if $_G[member][newpm] || $_G[member][newprompt]}-->
		
		<!--{/if}-->

	  <!--{hook/global_usernav_extra1}-->
	  
	  <a href="home.php?mod=spacecp" class="u31">{lang setup}</a>
      <a href="home.php?mod=space&do=friend">{lang friends}</a>
      <a href="javascript:;" id="wmn" class="showmenu {if $_G['member']['newpm'] || $_G['member']['newprompt']}new{/if}" onMouseOver="showMenu({'ctrlid':'wmn','pos':'34!','ctrlclass':'a','duration':2});">消息</a>
	  
	  <a href="home.php?mod=space&do=notice" id="myprompt" {if $_G[member][newprompt]} class="new"{/if}>{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>

      
	  
	  <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->

      <a href="portal.php?mod=portalcp" class="u32"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>

  <!--{/if}-->

      
	  
  <!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}--><a href="admin.php" target="_blank"  class="u35">{lang admincp}</a><!--{/if}-->
  
  <!--{if check_diy_perm($topic)}--><a href="javascript:openDiy();" title="{lang open_diy}" class="u36">DIY设置</a><!--{/if}-->
	  
	  <a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>

      <!--{elseif !empty($_G['cookie']['loginuser'])}-->

      <a id="loginuser"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a>

      <a href="member.php?mod=logging&action=login" onClick="showWindow('login', this.href)">{lang activation}</a>

      <a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>

      

      <!--{elseif !$_G[connectguest]}-->

<div class="z"><!--{hook/global_login_extra}--></div>
      <a href="member.php?mod=logging&action=login&referer={echo rawurlencode($dreferer)}" onClick="showWindow('login', this.href);return false;" title="{lang login}">{lang login}</a>
	  
	  <span class="wi_tpipe">|</span>

      <a href="member.php?mod={$_G[setting][regname]}" title="$_G['setting']['reglinkname']">$_G['setting']['reglinkname']</a>
	  
	  <span class="wi_tpipe">|</span>

      <a href="javascript:;" onClick="showWindow('login', 'member.php?mod=logging&action=login&viewlostpw=1')" title="{lang forgotpw}">{lang forgotpw}</a>


      <!--{else}-->

      <strong>{$_G[member][username]}</strong>

      <!--{hook/global_usernav_extra1}-->

      <a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>

      

      <!--{/if}-->
        

    </div>

  
  </div>

</div>

<!--{if $_G['uid']}-->

<!--快捷导航-->

  <ul id="wqmenu_menu" class="wi_pop" style="display: none;">

    <ul>

      <!--{loop $_G['setting']['mynavs'] $nav}-->

        <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->

          <!--{eval $nav[code] = str_replace($nav[code]);}-->

          <li>$nav[code]</li>

        <!--{/if}-->

      <!--{/loop}-->

    </ul>

  </ul>

<!--消息-->

<ul id="wmn_menu"class="wi_pop"  style="display: none;">

  <li><a href="home.php?mod=space&do=pm" id="pm_ntc" {if $_G[member][newpm]} class="new"{/if}>{if $_G[member][newpm]}有新消息{else}{lang pm_center}{/if}</a></li>
  
  <!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}-->

  <li><a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a></li>

  <!--{/if}-->

  <li><a href="home.php?mod=follow&do=follower" class="u31">新听众</a></li>	
</ul>

<!--用户中心管理-->

<ul id="wmod_menu" class="wi_pop"  style="display: none;">

  <li><a href="home.php?mod=spacecp" class="u31">个人设置</a></li>

  <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->

  <li><a href="portal.php?mod=portalcp" class="u32"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a></li>

  <!--{/if}-->

  <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->

  <li><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank" class="u33">{lang forum_manager}</a></li>

  <!--{/if}-->

  <!--{if $_G['uid'] && $_G['adminid'] == 1 && $_G['setting']['cloud_status']}-->

  <li><a href="admin.php?frames=yes&action=cloud&operation=applist" target="_blank" class="u34">{lang cloudcp}</a></li>

  <!--{/if}-->

  <!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->

  <li><a href="admin.php" target="_blank"  class="u35">{lang admincp}</a></li>

  <!--{/if}-->

  <!--{if check_diy_perm($topic)}-->

  <li><a href="javascript:openDiy();" title="{lang open_diy}" class="u36">DIY设置</a></li>

  <!--{/if}-->
</ul>

<!--{/if}-->

<!--{if !IS_ROBOT}-->

  <!--切换风格-->

<div id="wist_menu" class="wi_pop" style="display: none;">

  <ul class="wi_skin cl">

    <!--{if !$_G[style][defaultextstyle]}--><li onClick="extstyle('')" title="时尚酷黑"><i></i></li><!--{eval $i=2}--><!--{else}--><!--{eval $i=1}--><!--{/if}-->

    <!--{loop $_G['style']['extstyle'] $extstyle}-->

    <li {if is_int($i/5)}class="end"{/if} onClick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></li>

    <!--{eval $i++}-->

    <!--{/loop}-->          

  </ul>      

</div>

<!--{/if}-->

		
<div id="hd">
	<div class="wp">
		<div class="hdc cl">
			<!--{eval $mnid = getcurrentnav();}-->
			
			<h2><!--{if !isset($_G['setting']['navlogos'][$mnid])}--><a href="{if $_G['setting']['domain']['app']['default']}http://{$_G['setting']['domain']['app']['default']}/{else}./{/if}" title="$_G['setting']['bbname']">{$_G['style']['boardlogo']}</a><!--{else}-->$_G['setting']['navlogos'][$mnid]<!--{/if}--></h2>


			<!--{subtemplate common/pubsearchform}-->

			<div id="wi_wrap">
				<div id="nv" class="wp">
					 <ul>
			 <!--{eval $i = 1;}-->
			 <!--{loop $_G['setting']['navs'] $nav}-->
				<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
				<li class="xnv_{$i}{if $mnid == $nav[navid]} a xnv_a{$i}{/if}"$nav[nav]></li>
				<!--{eval $i++;}-->
				<!--{/if}-->
			<!--{/loop}-->			
					</ul>
					<!--{if $_G['setting']['disfixednv_forumindex'] == 0}-->
		<script type="text/javascript" src="{$_G[style][styleimgdir]}/nv.js"></script> 
		<!--{/if}-->
				<!--{hook/global_nav_extra}-->
				</div>
			</div>
			
			<!--{template common/header_userstatus}--> 
			

		</div>

		<!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
			<ul class="p_pop h_pop" id="plugin_menu" style="display: none">
			<!--{loop $_G['setting']['plugins']['jsmenu'] $module}-->
				 <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
				 <li>$module[url]</li>
				 <!--{/if}-->
			<!--{/loop}-->
			</ul>
		<!--{/if}-->
		
		
	</div>

		
		$_G[setting][menunavs]
		<div id="mu" class="cl">
		<!--{if $_G['setting']['subnavs']}-->
			<!--{loop $_G[setting][subnavs] $navid $subnav}-->
				<!--{if $_G['setting']['navsubhover'] || $mnid == $navid}-->
				<ul class="cl {if $mnid == $navid}current{/if}" id="snav_$navid" style="display:{if $mnid != $navid}none{/if}">
				$subnav
				</ul>
				<!--{/if}-->
			<!--{/loop}-->
		<!--{/if}-->
		</div>
		<!--{ad/subnavbanner/a_mu}-->
		
	
		
</div>
	
	<!--{hook/global_header}--> 
	<!--{/if}-->
	
	
	
	
	<div class="bottombg">	
	
	<script type="text/javascript">
	go();	
	</script>
	
	
	<div id="wp" class="wp xuxian">
	
